/* Botones personalizados */
.custom-btn {
    background-color: #f0f0f0;
    border: none;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: transform 0.2s, box-shadow 0.2s;
}

.custom-btn:hover {
    transform: translateY(-2px);
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
}

.custom-btn:active {
    transform: translateY(2px);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Iconos dentro del botón personalizado */
.custom-btn i {
    color: #333;
    font-size: 24px;
    margin-right: 10px;
}

/* Botones con iconos específicos */
.custom-btn .pi-file-edit,
.custom-btn .pi-file-new {
    margin-left: 10px;
}

.custom-btn div {
    margin-top: 10px;
    font-size: 14px;
    color: #333;
}

/* Grupo de iconos */
.icon-group i {
    font-size: 36px;
}

/* Deshabilitación de botones */
.disabled-class {
    pointer-events: none;
    opacity: 0.5;
}

/* Footer */
.footer {
    background-color: #000;
    padding: 10px 20px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.status,
.brand {
    color: white;
    font-family: Arial, sans-serif;
    font-size: 14px;
}

/* List group item */
.list-group-item {
    border: none;
    border-bottom: 1px solid #ddd;
}

/* Badge personalizado */
.badge {
    font-size: 0.9rem;
    padding: 0.5em 1em;
}

/* Sticky footer */
.sticky-footer {
    position: fixed;
    bottom: 60px;
    /* Altura del footer Estado de Conexión */
    left: 0;
    right: 0;
    background-color: #fff;
    padding: 10px;
    z-index: 100;
    border-top: 1px solid #ccc;
}

.sticky-footer button {
    flex-grow: 1;
}

/* Header */
.header {
    background-color: #000;
    height: 8vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    color: white;
}

.header-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}

.logo-section {
    display: flex;
    align-items: center;
}

.logo {
    max-height: 60px;
    height: auto;
    margin-right: 10px;
}

.app-name {
    font-size: 18px;
    margin: 0;
    white-space: nowrap;
}
