// Definición de temas de colores
$light-theme: (
    background-color: white,           // Fondo de la aplicación, appname, span del footer
    primary-text-color: black,         // Footer, header, iconos de botones, texto de botones
    button-color: lightgrey,           // Color de los botones
    header-footer-bg-color: black    // Fondo del header y footer
);

$dark-theme: (
    background-color: black,
    primary-text-color: white,
    button-color: darkgrey,
    header-footer-bg-color: darkgrey     // Fondo del header y footer en dark mode
);

$high-contrast-theme: (
    background-color: orange,
    primary-text-color: red,
    button-color: yellow,
    header-footer-bg-color: black       // Fondo del header y footer en high contrast
);

$armony-theme: (
    background-color: #d4d4aa,         // Fondo de la aplicación: beige suave
    primary-text-color: #3e432e,       // Texto principal: verde oliva oscuro
    button-color: #6b8e23,             // Botones: verde oliva más vibrante
    header-footer-bg-color: #4b5320 
);

// Selecciona el tema activo
$active-theme: $light-theme; // Puedes cambiar entre $light-theme, $dark-theme, $high-contrast-theme

// Función para obtener colores desde el tema seleccionado
@function get-color($key) {
    @return map-get($active-theme, $key);
}

/* ---------------------
   1. Body
--------------------- */

body {
    background-color: get-color(background-color); // Color de fondo de la aplicación
    color: get-color(primary-text-color);          // Color del texto general
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

/* ---------------------
   2. Botones
--------------------- */

// Botones personalizados
.custom-btn {
    background-color: get-color(button-color); // Color de fondo del botón
    border: none;
    padding: 16px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); // Efecto de sombra estándar
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: transform 0.2s, box-shadow 0.2s;
}

.custom-btn:hover {
    transform: translateY(-2px);
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
}

.custom-btn:active {
    transform: translateY(2px);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Texto dentro del botón */
.custom-btn div {
    margin-top: 10px;
    font-size: 14px;
    color: get-color(primary-text-color); // Color del texto de los botones
}

.custom-btn-secondary {
    @extend .custom-btn; /* Hereda los estilos de .custom-btn */
    margin-top: 0px;
    padding: 4px 8px;
}

/* ---------------------
   3. Iconos
--------------------- */

// Iconos dentro del botón personalizado
.custom-btn i {
    color: get-color(primary-text-color); // Color de los iconos de los botones
    font-size: 24px;
    margin-right: 10px;
}

/* Grupo de iconos */
.icon-group {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.icon-group i {
    font-size: 34px;
    margin-right: 5px; /* Espacio entre los iconos */
}

/* ---------------------
   4. Footer
--------------------- */

.footer {
    background-color: get-color(header-footer-bg-color); // Fondo del footer
    padding: 10px 20px;
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 1;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.status,
.brand,
.footer-content span {
    color: get-color(background-color); // Color del texto en el footer (y span)
    font-family: Arial, sans-serif;
    font-size: 14px;
}

/* ---------------------
   5. Header
--------------------- */

.header {
    background-color: get-color(header-footer-bg-color); // Fondo del header
    height: 8vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    color: get-color(background-color); // Color del texto en el header
}

.header-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}

.logo-section {
    display: flex;
    align-items: center;
}

.logo {
    max-height: 60px;
    height: auto;
    margin-right: 10px;
}

.app-name {
    font-size: 18px;
    color: get-color(background-color); // Color del nombre de la app
    margin: 0;
    white-space: nowrap;
}

/* ---------------------
   6. List Items
--------------------- */

.list-group-item {
    border: none;
    border-bottom: 1px solid #ddd; // El borde inferior es estándar
}

/* ---------------------
   7. Sticky Footer
--------------------- */

.sticky-footer {
    position: fixed;
    bottom: 45px;
    left: 0;
    right: 0;
    background-color: get-color(background-color); // Fondo del sticky footer
    padding: 10px;
    z-index: 10;
    border-top: 1px solid #ccc;
    display: flex;
    justify-content: space-between;
}

/* Estilos de los botones en el sticky-footer */
.sticky-footer button {
    flex-grow: 1;
    margin: 0 5px;
    background-color: get-color(button-color); // Color de los botones en el sticky-footer
}

/* ---------------------
   8. Deshabilitación
--------------------- */

.disabled-class {
    pointer-events: none;
    opacity: 0.5;
}
